    <div class="p-d-flex" style="height: 60px">
      <div class="nav-left p-d-flex p-mr-2">
        <div id="nav-logo" class="p-mr-2">
          <a href="/" class="nav-logo-link">
            <span class="main_logo"></span>
            <span *ngIf="primeMember == true" class="prime_logo"></span>
          </a>
        </div>
        <div id="nav-location-slot" class="p-mr-2">
          <a href="/" class="nav-location"></a>
        </div>
      </div>
      <div *ngIf="currentUser != null" class="nav-fill">
        <div class="search-bar">
          <p-dropdown class="cat" [options]="categories" optionValue="categoryId" [(ngModel)]="selectedCategory" optionLabel="name" placeholder="All" ></p-dropdown>
          <input pInputText type="text" #searchBar style="border-radius: 0 0 0 0; flex: 1 1 auto;" (keydown.enter)="search(searchBar.value)">
          <button pButton pRipple label=" " (click)="search(searchBar.value)" style="border-radius: 0 5px 5px 0;color: #131921; background: #febd69; border-color: #febd69">
            <i class="pi pi-search" style="font-size: 1.5rem"></i>
          </button>
        </div>
      </div>
      <div *ngIf="currentUser != null" class="nav-right p-d-flex p-mr-2">
        <div class="right-of-search p-py-2">
          <a  #menuShower  style=" background: #131921; border-color: #131921; color: white" (mouseover)="menu.show($event);" (mouseleave) ="menu.hide();" href="/account">
            <div class="p-d-flex p-flex-column">
              <span style="font-size: 12px">Hello, {{currentUser.firstName | titlecase}}</span>
              <span style="font-size: 14px">Your Account</span>
            </div>
          </a>
        </div>
        <div class="right-of-search p-d-flex p-py-2">
          <a routerLink="/cart" style=" background: #131921; border-color: #131921; color: white; height: 100%; width: 100%" >
            <div class="p-d-flex p-jc-center p-mt-1" style="width: auto;">
              <i class="pi pi-shopping-cart" style="font-size: 2.6rem"></i>
              <span >Cart</span>
            </div>
          </a>
        </div>
        <p-menu #menu  [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" [popup]="true" [model]="accountInfoItems" (mouseleave) ="menu.hide();" (mouseenter)="show(menuShower)"></p-menu>
      </div>
    </div>
