<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>

<div class="main-content p-mx-auto p-grid p-jc-center">
  <div style="width: 350px">
    <div class="login-card p-mx-auto" style="border-radius: 4px; border: 1px #ddd solid; height: 280px; width: 350px; padding: 20px 26px">
      <h1 class="a-spacing-small">Sign-in</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitPassword()">

        <div class="p-fluid">
          <div class="p-field form-group">
            <label>Email</label>
            <input pInputText type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          </div>
          <div class="p-field form-group">
            <label>Password</label>
            <p-password formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></p-password>
          </div>
          <div class="p-field form-group">
            <br>
            <button pRipple pButton label="Sign-in" style="background: #febd69; border-color: #9f7933; color: #000000; font-family: Ember, sans-serif"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="divider">
      <h5>New To Amazon?</h5>
    </div>
    <div>
      <button pRipple pButton label="Create an Amazon Account" routerLink="/register" style="background: #e7e9ec; border-color: #adb1b8 #a2a6ac #8d9096; color: #000000; font-family: Ember, sans-serif; width: 100%"></button>
    </div>

  </div>
</div>
