<div style="padding: 14px 18px 18px 18px;min-width: 998px;">
  <div style="margin: 0 auto;max-width: 1000px;">
    <div style="margin-bottom: 12px">
      <h1>Your Account</h1>
      <ul>
        <li *ngFor="let card of cards">
          <div class="card-cell">
            <div *ngIf="card.Name != 'skip'" class="card-button" (click)="handleClick(card)">
              <div class="p-d-flex p-grid" style=" position: relative">
                <div class="p-col-3" >
                  <img src="{{card.img}}">
                </div>
                <div class="p-col-9">
                  <h3>
                    {{card.Name}}
                  </h3>
                  <span>
                    {{card.Desc}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<p-dialog header="Prime Membership" [(visible)]="primeVisible" [modal]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">

  <div style="width: 350px; height: 150px;">
    <h3>
      Current Subscription:
    </h3>
    <h4 style="margin-bottom: 40px">
      {{currentUser.primeMember?'Amazon Prime Member':'Not Subscribed'}}
    </h4>
    <div class="p-d-flex p-jc-center">
      <button pRipple pButton label="{{currentUser.primeMember?'Cancel Membership':'Become an Amazon Prime Member'}}" type="button" (click)="changeMembership()" style="background: #febd69; border-color: #9f7933; color: #000000; font-family: Ember, sans-serif"></button>
    </div>
  </div>
</p-dialog>
